.centrer {
    text-align: center !important;
}


.marge{
    margin-top: 20% !important;
}


.solution
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    color:#737373 !important;
    /*position:absolute;*/
    width: 100%;
    bottom: 0;
    height: 15%;
  }

.grid-header {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    border-collapse: collapse;
}

.attestationTitre {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    background-color: #33B3FF;
}

.formationTitre{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
}

.descriptionAttestation {
    border: 1px solid black;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    font-weight: bold;
    background-color: #84D1FF;
}

.grille{
    border-collapse: collapse;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}


.reference1 {
  color :#3fa326;
  font-weight: bold;
  font-style: italic;
}

.reference, .reference1 {
  background-color:#d6ffe1;
}

.competence, .reference1{
  text-align: center;
}

.colonne1 {
  width:10%;
  background-color: #3B8EBD;
  color:white;
}

.colonne2 {
  width:7%;
  background-color: #3B8EBD;
  color:white;
}

.fonctions {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  width: 60%;
}

.signature {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  width: 60%;
}

.libelle {
  width:60%;
  background-color: #66EE38;
  font-weight: bold;
}

.fonctions {
  border: black solid 1px;
  padding-bottom: 20px;
  background-color: grey;
}

.grid-user-infos {
  text-align: right;
  padding-right: 2%;
}


body {
	margin: 0 !important;
	display: flex !important;
	flex-direction: column !important;
	min-height: 100vh !important;
}

.contenu{
    flex: 1 !important;
  
}

.border1{
  border: black solid 1px ;
}

.cacher{
  display: none !important;
}